.max-vh {
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
}

.btn-no-wrap {
    white-space: nowrap; /* Prevents text from wrapping */
}

.form-container {
    overflow: hidden;
}

.form-sliding-container {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
    height: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100vw;
    overflow-x: hidden;
}

#quiz-title-section {
    padding-top: 30vh;
}

.qq-vw {
    min-width: 93vw !important;
}

.quiz-questions-container {
    height: 70vh;
    overflow-y: auto; 
}

.form-buttons {
    position: relative;
    margin-top: auto;
}

.quiz-question-container {
    padding: 2rem;
}


#back-to-title {
    position: fixed;
    top: 4vh;
    left: 5vw;
    z-index: 1000;
}

.question-number {
    margin-left: -23px;
    width: 52%;
}

#question-section {
    padding: .5rem 1.5rem;
}

.hr {
    width: 80%;
}