.max-vh {
    height: 100vh;
}

/* .padding-top {
    padding-top: 30vh;
} */

h1 {
    font-size: 2.5rem;
}

.btn-no-wrap {
    white-space: nowrap; /* Prevents text from wrapping */
}

.form-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.form-sliding-container {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%; /* Two sections initially */
    height: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100vw;
}

/* Optional Styling */
button {
    margin: 5px;
}
